.btn-login-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-nc {
    float: right;
    margin: 10px 30px;
    background-color: #0585FB;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 1px 3px 5px black;
}

.btn-filtro {
    padding: 4px 9px;
    border-radius: 5px;
    float: right;
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    margin: 10px 30px;
}