
$primary-font: 'Poppins';
$second-font: 'Roboto';

// Colors

$blue: #2D70B9;
$navyblue: #0585FB;
$purpleblue: #3126AB;
$light-blue: #E8F1FD;
$bluelilac: #639ECA;
$grey: #EAEAEA;
$black-grey: #D9D9D9;
$black: #353535;
$black-b: #000000;
$border: #C6C6C6;
$green: #84EC7B;
$green-hue: #67A562;
$red: #FC9999;
$passion-red: #FF0000;
$white: #FFFFFF;
$filter: #6994C3;


/** Media queries **/
$screen-mobile:      320px !default;
$screen-ext-mobile:  550px !default;
$screen-tablet:      768px !default;
$screen-desktop:     992px !default;
$screen-ext-desktop: 1200px !default;


$min-device-width-mobile: "320px";
$min-device-width-mobile-2: "550px";
$max-device-width-mobile: "767px";
$min-device-width-tablet: "768px";
$max-device-width-tablet: "991px";
$min-device-width-desktop: "992px";
$media-query-breakpoint-mobile: "only screen and (min-device-width : #{$min-device-width-mobile}) and (max-device-width : #{$max-device-width-mobile})";
$media-query-breakpoint-tablet: "only screen and (min-device-width : #{$min-device-width-tablet}) and (max-device-width : #{$max-device-width-tablet})";

// Typography
$font-size-base: 18px;
$font-sm: 0.8em;
$font-xs: 0.6em;
$font-lg: 1.4em;
$font-xl: 2em;
$line-height-base: 1;