body {
    input, textarea, select, a { outline: none; }
    background-color: $light-blue;
    .modal-content {
        height: 10%;
        width: 500px;
    }
    .login {

        .lost-pass {
            margin: 0 auto;
            font-size: 14px;
        }

        font-family: $primary-font;
        outline: 100px;
    
        input {
            height: 40px;
            border-right: 1px solid rgb(0, 0, 0);
            background-color: #f0f0f0; 
            z-index: 0;
        }

        input:focus {
            background-color: white; 
            outline: 100px;
            border: 1px solid #0585FB;
        }

        .input-pass {
            border-bottom: 1px solid rgb(0, 0, 0);
            border-radius: 20px;
            border-top-right-radius: 0px;
        }

        .input-email {
            border-top: 1px solid rgb(0, 0, 0);
            border-bottom: 1px solid #0585FB;
            border-top-right-radius: 20px;
        }

        .input-group {
            margin:0px auto;
            width: 75%;
            margin-bottom: 5px;

            .form-control{
                margin: auto;
                width: 100%;
                height: 40px;
            }

            span {
                background: rgb(202, 202, 202);
                border-top: 1px solid rgb(0, 0, 0);
                border-left: 1px solid #0585FB;
                border-bottom: 1px solid #0585FB;
                border-top-left-radius: 20px;
                color: rgb(52, 138, 231);
                border-bottom-left-radius: 0;
                font-size: 20px;
            }

            .span2 {
                border-top: 1px solid #0585FB;
                border-bottom: 1px solid rgb(0, 0, 0);
                border-left: 1px solid #0585FB;
                border-top-left-radius: 0px;
                border-bottom-left-radius:20px;
            }

            .input-pass {
                border-top: 1px solid #0585FB;
            }

            input {
                font-size: 20px;
            }

            .active-input {
                color: #e67e22;
            }

            .active-input-ok {
                color: #2ecc71;
            }
        }

        .btn-login {
            margin-top: 10px;
            width: 40%;
            height: 40px;
            color: white;
            border: 1px solid #0585FB;
            background-color: #0585FB;
            box-shadow: -0.5px 2px 4px 1px black;
            font-size: 20px;
            border-radius: 10px;
            overflow-x: hidden;
        }

        .container {
            div {
                padding-top: 131px;
                padding-bottom: 59px;

                p {
                    text-align: center;
                    font-size: 72px;
                    font-weight: bold;
                    line-height: normal;
                    color: $black-b;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $border;
                    border: $border;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.66);
                }
            }
        }

        .show {
            display: block!important;
            background: rgba(56, 56, 56, 0.7);
            padding: 13% 0;

            h4 {
                font-size: 30px;
                font-weight: bold;
                text-shadow: 1px 1px rgb(129, 129, 129);
            }
        } 
    }
} 